product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
system/system/app/HoneyBoard/HoneyBoard.apk
system/system/app/BixbyOnDevice/BixbyOnDevice.apk
system/system/priv-app/AREmojiEditor/AREmojiEditor.apk
system/system/priv-app/SumeNNService/SumeNNService.apk
system/system/system_ext/apex/com.android.vndk.v30.apex
